/* src/app/styles/CategorySection.module.css */
.categorySection {
  margin-bottom: 40px;
}

.categoryTitle {
  color: #00e5ff;
  margin-bottom: 20px;
}

.movieGrid {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
  gap: 20px; /* Adjust spacing between cards */
}

.movieGrid::-webkit-scrollbar {
  display: none;
}
