.container {
  margin-top: 20px;
}

.videoPlayerWrapper {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.paper {
  padding: 20px;
  background-color: #1c1c1c;
  color: #ffffff;
}

.posterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer {
  padding: 20px;
}

.title {
  color: #010000; 
  margin-bottom: 20px;
}

.category, .overview, .releaseDate, .castTitle, .castList, .castItem {
  color: #c54646;
}

.category {
  color: #b3b3b3;
  margin-bottom: 10px;
}

.overview, .releaseDate, .castTitle {
  margin-bottom: 20px;
}

.castList {
  list-style: none;
  padding: 0;
}

.castItem {
  margin-bottom: 5px;
}
